@tailwind base;
@tailwind components;
@tailwind utilities;

.flexCenter{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.bdr{
    border: 1px solid black;
    
}
/*loading effect */

.loading{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-left: 3px solid white;
    animation: spinner 0.5s infinite;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.addproduct input{
    padding: 5px;
    border: 1px solid black;
}
.addproduct button{
    width: 250px;
    padding: 5px;
    background-color: green;
    color:white;
    font-size: 14px;
}
.addproduct button:hover{
    background-color: rgb(11, 148, 11);
}

table *{
    border: 1px solid black;
}
table td{
    padding: 3px;
    text-align: center;
}
table thead{
    font-weight: 600;
}
table button{
    background-color: red;
}
table button:hover{
    background-color: rgb(241, 65, 65);
}

@media (max-width:600px){
    table th,table td{
        font-size: 13px;
    }
}